*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
input,
select,
button,
textarea,
.quill,
[tabindex="0"] {
  cursor: pointer;
  outline: transparent dashed 1.5px;
  outline-offset: 3px;
  transition: outline-color 0.2s;
}

a:focus-visible,
input:focus-visible,
select:focus-visible,
button:focus-visible,
textarea:focus-visible,
.quill:focus-within,
[tabindex="0"]:focus-visible {
  outline-color: black;
}

li {
  list-style: none;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}
